.s {
  border: 2px solid #CACDD8;
  border-radius: 2px;
  width: 200px;
  height: 37px;
  border-radius: 50px;
  padding: 0px 0px 0px 20px;

  color: #A2A6B0;
  font-weight: 600;
  line-height: 21px;
  cursor: pointer;
}