.shopping_cart_wrapper {
  padding-top: 15px;
  flex-direction: column;

  .head {
    display: flex;
  }

  h2 {
    margin-left: 20px;
  }
  .shopping_cart {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  .product_in_cart {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-right: 20px;
  }
  .amount {
    display: flex;
  }
  .item {
    width: 70%;
  }
  .price {
    width: 15%;
  }
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px 20px 20px;
  border-radius: 8px;
  width: 20%;
  min-width: 250px;
  height: 270px;
  box-shadow: 0px 0px 15px 0px rgba(66, 68, 90, 0.17);
  background-color: #F5F7FF;
  box-sizing: border-box;

  button {
    cursor: no-drop;
  }
}