.headerWrapper {
  position: sticky;
  top: 0;
  background-color: #232323;
  font-weight: 600;
  font-size: 10px;
  line-height: 18px;
  z-index: 5;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    color: rgb(255, 255, 255);
  }

  span {
    color: rgba(172, 172, 172, 1);
    margin-right: 5px;
  }
}